@media (max-width: 425px) {
  .button__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .commentForm {
    background: #2c363a;
    width: 75%;
    border-radius: 0.5rem;
    border: 1px solid #e49b0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
  }

  .comment_subtitle {
    padding-left: 1.5rem;
    text-align: start;
  }

  .formContainer_rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formContainer_review {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .button__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .commentForm {
    background: #2c363a;
    border-radius: 0.5rem;
    border: 1px solid #e49b0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .comment_subtitle {
    padding-left: 1.5rem;
    text-align: start;
  }
}

@media (min-width: 1024px) {
  .button__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .commentForm {
    background: #2c363a;
    border-radius: 0.5rem;
    border: 1px solid #e49b0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .comment_subtitle {
    padding-left: 1.5rem;
    text-align: start;
  }
}

@media (min-width: 1440px) {
  .button__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .commentForm {
    background: #2c363a;
    border-radius: 0.5rem;
    border: 1px solid #e49b0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .comment_subtitle {
    padding-left: 1.5rem;
    text-align: start;
  }
}

@media (min-width: 1920px) {
  .button__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .commentForm {
    background: #2c363a;
    border-radius: 0.5rem;
    border: 1px solid #e49b0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .comment_subtitle {
    padding-left: 1.5rem;
    text-align: start;
  }
}
