.btn {
    background: #2D2D2D;
    border: 1px solid white;
    border-radius: 0.2rem;
}
.btn:hover {
    background: #E49B0F;
    border: 1px solid white;
    border-radius: 0.2rem;
}
.btn:active {
    background: #E49B0F;
    border: 1px solid white;
    border-radius: 0.2rem;
}