@media(max-width: 425px){
    .detail {
        background:#2C363A;
        display: flex;
        flex-direction: column;
    }
    
    .detail__top{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1.5rem;
    }
    
    .detail__image {
        width: 30%;
        height: 20%;
        display: flex;
        justify-content: center;
    }
    
    .detail__img {
        width: 30%;
    }
    .detail__body {
        color:white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .detail__title {
        color: #E49B0F;
    }
    
    .detail__subtitle {
        color: #E49B0F;
    }
    
    .detail__properties {
        list-style-type: none;
        padding: 0;
    }
    
    .detail__date{
        color: rgb(184, 184, 184);
        float: right;
    }
}

@media(min-width: 768px){
    .body{
        display: flex;
        justify-content: center;
        

    }
    .detail {
        width: 80%;
        background:#2C363A;
        display: flex;
        flex-direction: column;
    }
    
    .detail__top{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1.5rem;
    }
    
    .detail__image {
        width: 30%;
        height: 20%;
        display: flex;
        justify-content: center;
    }
    
    .detail__img {
        width: 30%;
    }
    .detail__body {
        color:white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .detail__title {
        color: #E49B0F;
    }
    
    .detail__subtitle {
        color: #E49B0F;
    }
    
    .detail__properties {
        list-style-type: none;
        padding: 0;
    }
    
    .detail__date{
        color: rgb(184, 184, 184);
        float: right;
    }
}