@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap%27');


.container-fluid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #2D2D2D;
    color: white;
    position: absolute;
    bottom: 0;
}

.footerTittle {
    color:#E49B0F;
}


.footer{
  
    background-color: #2D2D2D;
    font-family: "Ultra", serif;
}

.footerTitle{
color:#E49B0F;
}

.footerTitleConect{
color: #E49B0F;
}


.footer_img{
color: white;
width: 2rem;
font-size: 2rem;
}

@media (max-width: 6rem) {
.footer_img {
margin-top: 0.3rem;
}
}
