@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap%27');


.footer{
    background-color: gray;

    padding-left: 9rem;
}

.footer_row{
    padding: 3rem;
}

.footer_column{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}


@media (max-width: 768px) {
    .footer_column {
        margin-left: 0;
    }
}

.footerTitle{
    display: flex;
    align-self: flex-start;
}

.footerTitleConect{
    display: flex;
    align-self: flex-start;
    margin-left: 4rem;
}

.footer_column_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.footer_column_img{
    display: flex;
    margin-top: 1rem;
}

@media (max-width: 576px) {
    .footer_column_img {
        display: flex;
        flex-direction: column;
    }
}

.footer_img{
    color: $background_color;
    width: 3rem;
    font-size: 2rem;
}

@media (max-width: 576px) {
    .footer_img {
        margin-top: 0.3rem;
    }
}

.footer{
    background-color: grey;
    padding-left: 9rem;
}

.footer_row{
    padding: 3rem;
}

.footer_column{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}


@media (max-width: 768px) {
    .footer_column {
        margin-left: 0;
    }
}

.footerTitle{
    display: flex;
    align-self: flex-start;
}

.footerTitleConect{
    display: flex;
    align-self: flex-start;
    margin-left: 4rem;
}

.footer_column_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.footer_column_img{
    display: flex;
    margin-top: 1rem;
}

@media (max-width: 576px) {
    .footer_column_img {
        display: flex;
        flex-direction: column;
    }
}

.footer_img{
    color: $background_color;
    width: 3rem;
    font-size: 2rem;
}

@media (max-width: 576px) {
    .footer_img {
        margin-top: 0.3rem;
    }
}
