.fa-search {
    font-size:2rem;
}


.container_searchBar {
    display:flex;
    justify-content: center;
    height: 10rem;
    margin-top: 3rem;  
}

.searchbar_container {
    padding: 0rem;
          
}





