// title ULTRA
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


// subtitle PT SERIF CAPTION
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
// paragraph PRIDI
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap');

body {
    background-color: #2D2D2D;
    color:white;
}


.title {
    font-family: 'Ultra', serif;
    color: #E49B0F;
    font-size: 1.313rem;
}

.subtitle {
    font-family: 'PT Serif Caption', serif;
   
}

.paragraph {
    font-family: 'Pridi', serif;
   
}

.btn{ 
    background: #2D2D2D;
    
    border: 1px solid white;
    border-radius: 0.2rem;

}


.btn {
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

a {
  color: white;
  text-decoration: none;
  }

.navbar {
    background-image: url("https://drive.google.com/file/d/15HtLhAkORvt6l2g4J9YTtGLHgHpptXWF/view?usp=sharing");
    // background: #2C363A;
    
    // position: relative;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-around;
    // padding-top: 0.5rem;
    // border-bottom: 2px solid #ffff006b;
}

.loginContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }


.btn_submit {
    color: white;
    font-size: 1.438rem;
    background-color: #E49B0F;
    border: 1px solid white;
    box-shadow: inset 0px 2px 9px rgba(0, 0, 0, 0.25);
    
}

// .btn_submit:hover {
//     background-color: #b38807;
//     color: white;

// }



.alertDiv {
    background-color: yellow;
}


.chooseUserBusiness {
    display:flex;
    justify-content: space-between;
}
