
// title ULTRA
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


// subtitle PT SERIF CAPTION
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
// paragraph PRIDI
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap');

body {
    background-color: #2D2D2D;
    color:white;
}


.title {
    font-family: 'Ultra', serif;
    color: #E49B0F;
    font-size: 1.313rem;
}

.subtitle {
    font-family: 'PT Serif Caption', serif;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
}

.paragraph {
    font-family: 'Pridi', serif;
   
}

.btn{ 
    color: white;
    background: #2D2D2D;
    border: 1px solid white;
    border-radius: 0.2rem;

}

.btn:hover{ 
    background: #E49B0F;   
    // background-color: #afad4c; 
    color: white;
    text-decoration: none;
}


a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}


.loginContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


.btn_submit {
    color: white;
    font-size: 1.438rem;
    background-color: #E49B0F;
    border: 1px solid white;
    box-shadow: inset 0px 2px 9px rgba(0, 0, 0, 0.25);
}

.btn_submit:hover {
    background-color: #a77311;
    color: white;
    border: 3px solid #543b0b;
}


.alertDiv {
    background-color: yellow;
}


.chooseUserBusiness {
    display:flex;
    justify-content: space-between;
}


.alertDiv {
    background-color: #ffc107;
    color: #41464b;
    display:flex;
    justify-content: center;
    font-size: 0.85rem;
}


.nearLog {
    margin-left: 16rem;
    margin-top: 1rem;
    }
    

@media (min-width: 425px) {
    .nearLog{
        display:none;
    }
}


@media (max-width: 425px) {
    .nearLog{
        display:flex;
    }
}

.btn_return {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    margin-top: 3rem;
}

.btn_return_box {
    display:flex;
    align-items: center;
}

.btn_return_word {
    margin-left: 0.5rem;
}

.menu {
    color: #000000DE;
}

