.navbar {
    background-color: #2C363A;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icons_left {
    margin-bottom: 1rem;
    font-size: 2.7rem;
}

.icons_right {
    display:flex;
    justify-content: flex-end;
    padding-right:1rem;
}

// .userIconText {
//     margin-left: 6.5rem;
// }

.fa-user {
    font-size: 2rem;
    margin-left: 0.2rem;
}

.HeartIconText {
    margin-left: 0.5rem;
}

.fa-heart {
    margin-left: 0.7rem;
    font-size: 2rem;
}

// .nabvar_menu_pending {
//     margin-left:1rem;
// } 
// .nabvar_menu_cerveteca {
//     margin-left:1rem;
// } 

// CUANDO ES IGUAL A 7
@media (min-width: 768px) {
    .icons_left{
        margin-right: 1rem;
        display:none;
    }
    .icons_center {
        display: flex;
        justify-content: flex-start;
        padding-left: 2rem;
    }
    .icons_right {
        padding-top: 1rem;
    }
    .nabvar_menu{
        display:flex;
        justify-content: center;
        font-size: 1.2rem;
        margin: 1rem;
        padding-top: 0.7rem;
    }
//     .navbar {
//         height: 8rem;
//         }
    .searchbar {
        display: flex;
    }

}

@media (max-width: 768px) {
    .searchbar {
        display: none;
    }

// @media (max-width: 425px) {
//     .icons_left{
//         margin-left: 1rem;
//         display:flex;
//     }
//     .icons_center {
//         display: flex;
//         justify-content: center;
//     }
//     .nabvar_menu{
//         margin-right: 1rem;
//         display:none;
//     }
//     .navbar {
//         height: 6rem;
//         box-sizing: content-box;
//     }
//     .userIconText {
//         margin-left: 1.5rem;
//     }

}

.nabvar_menu_friends:hover, .nabvar_menu_cerveteca:hover, .nabvar_menu_pending:hover, .userIconText:hover, .HeartIconText:hover {
color: #E49B0F;
}
