

.navbar {
    background-color: #2C363A;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icons_left {
    margin-bottom: 1rem;
    font-size: 2.7rem;
}


// pone en linea los dos iconos
.icons_right {
    display:flex;
    justify-content: flex-end;
    padding-right:1rem;
}

.fa-user {
    font-size: 2rem;
}

.HeartIconText {
    margin-left: 0.5rem;
}

.fa-heart {
    font-size: 2rem;
}

.nabvar_menu_pending {
    margin-left:1rem;
} 
.nabvar_menu_cerveteca {
    margin-left:1rem;
} 

// CUANDO SE PASA DE 768
// DESAPARECE LA CERVEZA
// APARECEN LAS LETRAS
// el navbar es mas grande

@media (min-width: 425px) {
    .icons_left{
        margin-right: 1rem;
        display:none;
    }
    .icons_right {
        padding-top: 1rem;
    }
    .nabvar_menu{
        display:flex;
        font-size: 1.2rem;
        margin: 1rem;
        padding-top: 0.7rem;
    }
    .navbar {
        height: 8rem;

        }
}


// CUANDO ES MENOR DE 768
// APARECE LA CERVEZA
// DESAPARECE LAS LETRAS
// el navbar es mas pequeño

@media (max-width: 425px) {
    .icons_left{
        margin-left: 1rem;
        display:flex;
    }

    .nabvar_menu{
        margin-right: 1rem;
        display:none;
    }
    .navbar {
    height: 6rem;
    }
}

.nabvar_menu_friends:hover, .nabvar_menu_cerveteca:hover, .nabvar_menu_pending:hover, .userIconText:hover, .HeartIconText:hover {
color: #afad4c;
}
