@media (max-width: 425px){
    .profileContainer{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .profileContainer__top{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .profileContainer__details{
        display: flex;
        flex-direction: column;
    }

    .profileContainer__img{
        width: 25%;
        border-radius: 100%;
        border: 0.2rem solid #E49B0F;
    }
    .profileContainer__title{
        width: fit-content;
    }
    .profileContainer__subtitle{
        width: fit-content;
    }
    .profileContainer__text{
        width: fit-content;
    }
    .profileContainer__description {
        margin-top: 1rem;
        margin-right: 2.5rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
    }

    .subtitle {
        margin-left: 2.5rem;
    }
}