@media (max-width: 425px) {
  .profileContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .profileContainer__top {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .profileContainer__details {
    display: flex;
    flex-direction: column;
  }

  .profileContainer__img {
    width: 25%;
    border-radius: 100%;
    border: 0.2rem solid #e49b0f;
  }
  .profileContainer__title {
    width: fit-content;
  }
  .profileContainer__subtitle {
    width: fit-content;
  }
  .profileContainer__text {
    width: fit-content;
  }
  .profileContainer__description {
    margin-top: 1rem;
    margin-right: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
  }

  .subtitle {
    margin-left: 2.5rem;
  }

  .commentForm {
    background: #2c363a;
    width: 75%;
    border-radius: 0.5rem;
    border: 1px solid #e49b0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
  }

  .comment_subtitle {
    padding-left: 1.5rem;
    text-align: start;
  }

  .formContainer_rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formContainer_review {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  // #app {
  //     display: flex;
  //     justify-content: center;
  // }
  .profileContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(102, 103, 104, 0.445);
  }

  .profileContainer__top {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .profileContainer__details {
    display: flex;
    flex-direction: column;
  }

  .profileContainer__img {
    width: 25%;
    border-radius: 100%;
    border: 0.2rem solid #e49b0f;
  }
  .profileContainer__title {
    width: fit-content;
  }
  .profileContainer__subtitle {
    width: fit-content;
  }
  .profileContainer__text {
    width: fit-content;
  }
  .profileContainer__description {
    margin-top: 1rem;
    margin-right: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
  }

  .subtitle {
    margin-left: 2.5rem;
  }

  .container__cerveteca {
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    margin-top: 2rem;
    background: rgba(102, 103, 104, 0.445);
    display: flex;
    flex-direction: column;
  }

  .container__fav {
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    margin-top: 2rem;
    background: rgba(102, 103, 104, 0.445);
    display: flex;
    flex-direction: column;
  }

  .container__wish {
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    margin-top: 2rem;
    background: rgba(102, 103, 104, 0.445);
    display: flex;
    flex-direction: column;
  }

  .display__cards {
    display: flex;
    flex-direction: row;
  }

  .card {
    margin-bottom: 1rem;
  }

  .commentForm {
    background: #2c363a;
    border-radius: 0.5rem;
    border: 1px solid #e49b0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .comment_subtitle {
    padding-left: 1.5rem;
    text-align: start;
  }
}
