@media (max-width: 425px) {
  .searchBar__Box {
    width: 70%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 38px;
    justify-content: center;
  }

  .searchBar__input {
    border: none;
    font-size: 0.75rem;
  }

  .searchBar-container__button {
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border-left: 1px solid #2cb1aa;
    padding-left: 2px;
    display: contents;
  }

  .fa-search {
    font-size: 1rem;
    color: #d5961c;
  }

  .searchBar__button {
    display: contents;
  }
}

@media (min-width: 1920px) {
  .searchBar__Box {
    width: 26rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 38px;
  }

  .searchBar__input {
    border: none;
    font-size: 1.25rem;
  }

  .searchBar-container__button {
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border-left: 1px solid #2cb1aa;
    padding-left: 2px;
    display: contents;
  }

  .fa-search {
    font-size: 2rem;
    color: #d5961c;
  }

  .searchBar__button {
    display: contents;
  }
}
